h1{
  display: flex;
  text-align: center;
  flex-direction: column;
}

div.name1{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.textbox{
  width :150px;
}

.btn{
  width: 80px;
  display: block;
  margin: 50px  auto 10px auto;
}

main{
  background: linear-gradient(to bottom, #f7edf0, #fad2df);
  padding: 20px 10px 30px 10px ;
  min-height: 502px;
  height: auto;
  position: relative;
}

div.center{
  background-color: #ffffff;
  border: 1px solid #ccc;   
  border-radius: 6px;        
  padding: 15px;     
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
   
}

.logo{
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

a{
  display: inline-block;
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("image/flower.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px; /* 必要に応じて調整 */
  overflow: hidden;
}

/* 背景だけ薄くする */
header::before {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.321);
  z-index: 1;
}

header .logo {
  position: absolute;
  z-index: 2; 
  top: 10px;
  left: -20px;
  width: 220px;
  height: auto;
  
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("image/table.jpg") no-repeat center bottom;
  background-size: cover;
  height: 170px; 
}

p.name{
  margin-bottom: 5px;
}

label{
  margin-bottom: 16px;
}

.next{
  margin: 18px 0 6px 0;
}

.anser{
  margin: 18px auto 6px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p{
  margin-bottom: 30px;
}

.home{
  position: absolute;
  bottom: -13px;
  right: 40%;

}

table {
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 6px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse; /* 枠線を重ねてスッキリさせる */
  margin: 20px 0;
  font-size: 14px;
  text-align: center;
}

table th, table td {
  border: 1px solid rgba(245, 218, 221, 0.431); /* 薄いグレーの枠 */
  padding: 10px;
}

table th {
  background-color: rgba(249, 204, 209, 0.431); /* 見出し部分に色をつける */
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: rgba(245, 223, 225, 0.431); /* 偶数行に薄い色を付ける（見やすさUP） */
}

table tr:hover {
  background-color: #f1f1f1; /* ホバー時に色が変わる */
}

.in_form p{
  margin-bottom: 20px;
}

body {
  font-family: "Yu Gothic UI", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Meiryo", sans-serif;
}

p.last_check{
  margin-top: 80px;
  text-align: center;
}