{% load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body class="container">
  <h1 class="display-4 text-primary mb-4">{{title}}</h1>
  <p>{{message|safe}}</p>
  <table class="table">
    <tr>
      <th>data</th><th>name</th><th>age</th><th>mail</th><th>birthday</th>
    </tr>
  {% for item in data %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.age}}</td>
      <td>{{item.mail}}</td>
      <td>{{item.birthday}}</td>
    </tr>
  {% endfor %}
  </table>
  <ul class="pagination justify-content-center">
    {% if data.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}">&laquo; first</a>
    </li>
    <li class="page-item">
      <a href="{% url 'index' %}{{data.previous_page_number}}" class="page-link">
        &laquo; prev
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link">&laquo; first</a>
    </li>
    <li class="page-item">
      <a class="page-link">&laquo; prev</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
    </li>
    {% if data.has_next %}
    <li class="page-item">
      <a href="{% url 'index' %}{{data.next_page_number}}" class="page-link">
        next &laquo;
      </a>
    </li>
    <li class="page-item">
      <a href="{% url 'index' %}{{data.paginator.num_pages}}" class="page-link">
        last &laquo;
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link">next &laquo;</a>
    </li>
        <li class="page-item">
      <a class="page-link">last &laquo;</a>
    </li>
    {% endif %}
  </ul>
</body>
</html>